.backHome{
    background-color: rgb(221, 221, 221);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
.home{
    width: 95vw;
    background-color: white;
    box-shadow: #9b9b9b 0px 0px 9px
}
.section{
    height: 55vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.spaceShipLogo{
    height: 16vw;
    transform: rotate(-45deg);
    filter: contrast(0.7);
    max-height: 130px;
    min-height: 80px;
}
.spaceShipDiv{
    display: flex;
    align-items: center;
}
.spaceStart{
    color: #f7f7f7;
    background-color: #3FAFFF;
    margin: 8px;
    padding: 0.5rem 2.6rem;
    border-radius: 3px;
    border: solid 1px #3FAFFF;
    transition: all 0.25s;
}
.spaceStart:hover{
        color: #f7f7f7;
        background-color: #1b91e6;
}
.spaceShipText>h3{
    margin: 0px 20px 0px 0px;
}

.cards{
    background-color: #3FAFFF;
    display: flex;
    align-items: center;
}
.cardsText{
    width: 33.33%;
    color: white;
    font-size: 20px;
    margin-right: 50px;
}

.workTableDivisions{
    display: flex;
    align-items: flex-start;
}
.workTable{
    display: flex;
    justify-content: space-around;
}

.divisonWorkTable{
    margin: 5px 10px;
}
.divisonWorkTable>h3{
    text-align: center;
}
